<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}ZingLix 空间{% endif %}</title>
    {% seo title=false %}
    
    <!-- Open Graph -->

    {% case page.layout %}
    {% when 'post' %}
    {% if page.author %}
    <meta property="article:author" content="{{ page.author }}">
    {% endif %}
    {% for tag in page.tags %}
    {%- assign identifier = tag | slice: -3, 3 -%}
    {%if identifier != "_pn" %}
    <meta property="article:tag" content="{{ tag }}">
    {% endif %}
    {% endfor %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    {% else %}
    <meta name="keywords" content="{{ site.keyword }}">
    {% endcase %}

    <meta property="og:image" content="{{ site.url }}/icon.png">


    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.2.min.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link href="/css/iconfont.min.css" rel="stylesheet" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.min.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.js"></script>
</head>
