<section class="visible-md visible-lg">
    <hr>
    <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
    <div class="short-about">
      {% if site.sidebar-avatar %}
      <img src="{{site.sidebar-avatar}}" />
      {% endif %}
      {% if site.sidebar-about-description %}
        {% for s in site.sidebar-about-description %}
        <p class="sb_desc">{{s}}</p>
        {% endfor %}
        <script>
          $('.sb_desc').hide().eq(Math.floor(Math.random()*{{ site.sidebar-about-description.size }})).show()
        </script>
      {% endif %}
      <!-- SNS Link -->
      {% include sns-links.html %}
    </div>
  </section> 