---
layout: default
---
{% if site.page-mathjax %}
<script async src="https://cdn.staticfile.org/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endif %}
{% if site.page-mermaid %}
<script src="https://cdn.staticfile.org/mermaid/8.9.0/mermaid.min.js"></script>
<script>
    const conf = {
        startOnLoad: true,
    }
    mermaid.initialize(conf);
</script>
{% endif %}
<!-- Post Header -->
{% include intro-header.html type='post' %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                {{ content }}
                {% if page.papernote != nil %}
                {% capture tail %}{% include include/papernote_tail.md %}{% endcapture %}
                {{ tail | markdownify }}
                {% endif %}
                <hr style="visibility: hidden;">

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
                            data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                            Previous<br>
                            <span>{{page.previous.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
                            data-placement="top" title="{{page.next.title}}">
                            Next<br>
                            <span>{{page.next.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <hr style="visibility: hidden;">


            </div>

            <!-- Side Catalog Container -->
            {% if page.catalog %}
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
            {% endif %}

            <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">
                {% if site.google_adsense_id %}
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5810024348822097"
                    data-ad-slot="1970432264" data-ad-format="auto" data-full-width-responsive="true"></ins>
                {% endif %}
                <!-- Featured Tags -->
                {% include featured-tags.html bottom=true %}

                <!-- Friends Blog -->
                {% include friends.html %}
            </div>
        </div>
    </div>
</article>
{% if site.google_adsense_id %}
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
{% if site.anchorjs %}
<!-- async load function -->
<script>
    function async(u, c) {
        var d = document, t = 'script',
            o = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
        s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("/js/anchor.min.js", function () {
        anchors.options = {
            visible: 'hover',
            placement: 'right',

        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<script src="/js/medium-zoom.min.js"></script>
<script>mediumZoom(document.querySelectorAll('div.post-container img'), { background: 'rgba(1,1,1,0.8)' })</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link {
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top: -0.1em;
        }
    }
</style>
{% endif %}